* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

.headerContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-flow: column wrap;
}

/* .inputHeader {
} */

input {
  flex: 1;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  flex: 1 1 40ch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2rem 0.6rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #65b0b3;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.todoTaskConatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background-color: #3fc56854;
}

.todoTaskConatiner .contentConatiner {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoTaskConatiner .contentConatiner span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: tomato;
}

.todoTaskConatiner button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: lightseagreen;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
