* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  flex-wrap: wrap;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.headerContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-flow: column wrap;
}

.inputHeader {
  display: flex;
}

input {
  flex: 1;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid yellowgreen;
  width: 100%;
  flex: 1 1 40ch;
}

.addBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2rem 0.6rem;
  font-weight: 200;
  font-family: inherit;
  font-size: 2rem;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.addBtn:hover {
  border-color: #3fc5688c;
  background-color: yellowgreen;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.tasksDisplay {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.todoTaskContainer {
  justify-content: space-between;
  display: flex;
  margin: 2rem;
  align-items: center;
  flex-flow: row wrap;
  background-color: rgb(231 255 209);
  width: 400px;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: none;
}

.taskName {
  margin-left: 1rem;
}
.deleteBtn {
  background-color: inherit;
  height: auto;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2rem 0.6rem;
  font-weight: 200;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  color: transparent;
}
.deleteBtn:hover {
  color: black;
}

/* .todoTaskContainer .contentContainer {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoTaskContainer .contentContainer span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: tomato;
}

.todoTaskContainer button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: lightseagreen;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
